/* Your styles go here */
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";

$nav-link-padding-y: 5rem;
$nav-link-padding-x: 1rem;

$carosel-caption-text: 5rem;

// $primary: $teal-dark;
// $secondary: $teal-light;

// $teal-dark:    #00539CFF;
// $teal-light:  #EEA47FFF;
